* {

    font-family: Lato;
    margin: 0;
    padding: 0;
}


.sec-1 {

    /* border: 20px solid rgba(229, 84, 115, 0.10); */
    display: flex;
    /* display: block; */

    /* justify-content: left; */
    /* align-items:center; */
    background: rgba(229, 84, 115, 0.10);
    padding: 60px;
    height: 440px;
    width: 1779px;
}

.sh-1 {

    color: #272727;
    font-family: Lato;
    width: 600px;
    font-size: 50px;
    /* text-align: justify; */
    font-weight: 800;
    margin-left: 113px;
    /* margin-top: 78px !important; */
    /* line-height: normal; */
}

.p1 {
    font-size: smaller;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    margin-left: 108px;
    margin-top: 80px;
    /* text-align: justify; */
}

.btn {
    width: 118px;
    height: 44px;
    margin-top: 20px;
    margin-left: 108px;

    /* margin-inline: 97px; */
    /* display: inline-flex; */
    /* padding: 20px 43px; */
    /* align-items: flex-start; */
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    border: none;
}

.img-1 {
    margin-top: -35px;
    margin-left: 60px;
    width: 433px;
    height: 533px;
}


/* section 2 

*/

.sec-2 {
    display: block;
}

.sh-2 {

    display: flex;
    /* justify-content: center; */
    display: block;
    margin: 128px;
}

.sh-2-h3 {

    text-align: center;
}


/* .flowers-cap {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.box-container {
    display: flex;
    justify-content: center;
    /* justify-self: center; */
    align-items: center;

    /* margin-left: 190px; */
}

.box-1 {
    border-radius: 300px 300px 0px 0px;
    height: 340px;
    width: 290px;
    /* margin-left: -180px; */
    /* border-width:400px; */
    /* background: transparent;background-color: transparent; */
    background: rgba(167, 33, 98, 0.15);
    border: 1px solid;
    border: none;
}

.box-2 {
    border-radius: 300px 300px 0px 0px;
    margin-left: 100px;
    height: 340px;
    width: 290px;
    background: rgba(5, 151, 160, 0.15);
    /* border: 60px solid rgba(5, 151, 160, 0.15); */

    border: 1px solid;
    border: none;
}

.box-3 {
    border-radius: 300px 300px 0px 0px;
    margin-left: 100px;
    height: 340px;
    width: 290px;

    background: rgba(167, 33, 98, 0.15);
    /* border: 60px solid rgba(71, 125, 17, 0.15); */

    border: 1px solid;
    border: none;
}

.flowers-cap {

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    /* text-align: center; */
padding: 10px;
    /* justify-content: space-around; */
    /* margin-right: 250px; */
    margin: 1px;
}

/* section-3 groups */

.group {
    display: flex;
    align-items: center;
    margin-left: 410px;
    justify-content: center;
    border-radius: 8px;
    padding: 38px;
    width: 990px;
    background: rgba(39, 39, 39, 0.05);
}

/* section 4 */
.sec-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px;
    /* width: 100%; */
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}


/* section 5 
 */
.sec-5 {
    justify-content: center;
    text-align: center;
}

/* .sec-5> .rectangle-section{


    display: flex;
 } */

.rectangle-section {

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px;

    /* border: 0px solid  transparent; */

}

/* sh-6 */

.sh-6 {

    margin-left: 226px;
    /* height: 400px; */
    padding: 90px;
    width: 70%;
    display: block;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    background-image: url("/images/Rectangle\ 9\ copy.png");
    /* background-image: url("images/Rectangle9.png"); */
}

.sh-6>h2 {

    font-size: 50px;
}

.sh-6>p {
    font-size: 20px;
    margin: 20px;
}

.input-mail {
    margin-left: 40px;
    font-size: 23px;
    padding: 20px;
    height: 20px;
    width: 600px;
    border-radius: 8px;
    background: #FFF;
}

.btn>.btn1 {

    height: 20px;
    margin-left: 222px;
}






/* footer section */


footer {
    color: #FFFFFF;
    text-align: center;
    background-color: #111010;
    padding: 60px;
    /* height: 200px; */
}